@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;600&display=swap');
:root{
    --cor-primaria: #321E1E;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria:  #CD1818; 
    --cor-quadriaria: #116D6E; 
    --cor-hover: #393646;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}
*{
    margin: 0; /*reset css, reset da margin e padding padrão do navegador*/
    padding: 0;/*reset css, reset da margin e padding padrão do navegador*/
}
body{
    box-sizing: border-box;/*A propriedade box-sizing: border-box; é usada em CSS para controlar o modelo de caixa de um elemento.*/
    background-color: var(--cor-primaria) ;/*define a cor de fundo do corpo da página web*/
    color: var(--cor-secundaria)
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__links{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao{
    padding: 5% 15%;/*é usada para definir o espaço ao redor de um elemento. */
    display: flex; /*é usada para definir o tipo de exibição de um elemento.Ao definir display: flex em um elemento pai, todos os elementos filhos diretos desse elemento se tornam itens flexíveis. */
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria)

}
.texto-destacado{
    color: var(--cor-quadriaria); /*destaque do elemento strong com uma cor diferente*/
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}
.apresentacao__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.apresentacao__conteudo__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__link__links{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    padding: 21.5px 0px;
    font-weight: 600;
    font-family: var(--fonte-secundaria);
}
.apresentacao__link__links:hover{
    background-color: var(--cor-hover);
}
.foto{
    width: 50%;
}
.rodape{
    padding: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
}
.curriculo{
    padding: 5% 14%;
    display: flex;
    justify-content: space-between;
}
.curriculo__introducao{
    width: 614px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.curriculo__introducao__acesso__titulo{
    font-family: var(--fonte-secundaria);
    font-size: 2.18rem;
    font-weight: 600;
    margin-bottom: 5% ;
}
.curriculo__introducao__experiencias__titulo{
    font-family: var(--fonte-secundaria);
    font-size: 2.18rem;
    font-weight: 600;
    margin-bottom:8%;
}
.curriculo__introducao__estudos__titulo{
    font-family: var(--fonte-secundaria);
    font-size: 2.18rem;
    font-weight: 600;
    margin-bottom:8%;
}
@media(max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    
}